[project]
name = "auto-registration"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "pyrefly>=0.44.2",
    "ruff>=0.14.8",
]
